<% layout('layouts/boilerplate') %>
<section class="mt-20 mb-24 md:pl-48 font-[Inter]">
  <div
    class="container w-screen text-slate-800"
    id="data"
    data-nama="<%= post.author.nama %>"
    data-judul="<%= post.judul %>"
    data-createdat="<%= post.createdAt %>"
    data-isi="<%= post.isi %>"
    data-type="<%= post.type %>"
    data-headline="<%= post.headline %>"
  >
    <div id="main ">
      <div class="w-full flex flex-wrap">
        <% if (user) { %>
        <div
          class="cursor-pointer w-28 text-center text-white font-semibold mb-4"
        >
          <p id="edit-post" class="px-2 py-3 bg-sky-400 rounded-lg mx-2">
            Edit Post
          </p>
        </div>
        <div class="cursor-pointer w-28 text-center text-white font-semibold">
          <p id="delete-post" class="px-2 py-3 bg-red-400 rounded-lg">
            Hapus Post
          </p>
        </div>
        <% } %>
        <div class="w-full">
          <img
            class="md:w-[600px] md:h-[400px]"
            src="https://images.unsplash.com/photo-1526779259212-939e64788e3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIzfHxmcmVlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
          />
        </div>
      </div>
      <div class="w-full py-5 pl-5 md:w-1/2 md:pl-0">
        <h1 class="font-semibold text-2xl"><%= post.judul %></h1>
      </div>
      <div class="w-full px-5 md:w-1/2 md:px-0">
        <p class="text-xs pb-2">
          <%= post.author.nama %>, <%= post.createdAt %>
        </p>
        <p><%= post.isi %></p>
      </div>
    </div>
  </div>
</section>
