<% layout('layouts/boilerplate') %>
<section class="mt-28 container font-[Inter] text-slate-800 mb-32">
  <div class="flex-wrap px-4 flex md:pl-32">
    <div class="w-full md:w-1/2">
      <p class="text-2xl mb-8 font-semibold">Galery Berita</p>
      <div class="flex flex-wrap">
        <% berita.forEach(e => { %>
        <div class="w-full mr-14 mb-10">
          <div class="flex items-center">
            <img
              class="w-[120px] h-[100px] mr-4 rounded-md"
              src="https://images.unsplash.com/photo-1526779259212-939e64788e3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIzfHxmcmVlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt=""
            />
            <div>
              <h1 class="font-semibold">
                <%= e.judul %>
                <a
                  class="text-sky-600"
                  href="/post/<%= e.judul.split(' ').join('-') %>"
                  >...Selengkapnya</a
                >
              </h1>
              <p class="text-sm pt-2">Ditulis Oleh: <%= e.author.nama %></p>
              <p class="text-sm">Dibuat Pada waktu: <%= e.createdAt %></p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <div class="w-full md:w-1/2">
      <p class="text-2xl mb-8 font-semibold">Galery Pengumuman</p>
      <div class="flex flex-wrap">
        <% pengumuman.forEach(e => { %>
        <div class="w-full mr-14 mb-10">
          <div class="flex items-center">
            <img
              class="w-[120px] h-[100px] rounded-md mr-4"
              src="https://images.unsplash.com/photo-1526779259212-939e64788e3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIzfHxmcmVlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt=""
            />
            <div>
              <h1 class="font-semibold">
                <%= e.judul %>
                <a
                  class="text-sky-600"
                  href="/post/<%= e.judul.split(' ').join('-') %>"
                  >...Selengkapnya</a
                >
              </h1>
              <p class="text-sm pt-2">Ditulis Oleh: <%= e.author.nama %></p>
              <p class="text-sm">Dibuat Pada waktu: <%= e.createdAt %></p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</section>

<!-- <div class="flex flex-wrap px-5 md:pl-24">
    <div class="w-full flex flex-wrap md:w-1/2">
      <h2 class="w-full font-semibold text-2xl mb-5">Berita</h2>
      <% berita.forEach(e => { %>
        <div class="w-full mr-14 mb-10">
          <div class="flex">
            <img
              class="w-[120px] h-[100px] rounded-md mr-4"
              src="https://images.unsplash.com/photo-1526779259212-939e64788e3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIzfHxmcmVlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt=""
            />
            <div>
              <h1 class="font-semibold">
                <%= e.judul.substring(0, 60) %>
                <a
                  class="text-sky-600"
                  href="/post/<%= e.judul.split(' ').join('-') %>"
                  >...Selengkapnya</a
                >
              </h1>
              <p class="text-sm pt-2">Ditulis Oleh: <%= e.author.nama %></p>
              <p class="text-sm">Dibuat Pada waktu: <%= e.createdAt %></p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
  
      <div class="w-full flex flex-wrap md:w-1/2">
        <h2 class="w-full font-semibold text-2xl mb-5">Pengumuman</h2>
        <% pengumuman.forEach(e => { %>
        <div class="w-full mr-14 mb-10">
          <div class="flex">
            <img
              class="w-[120px] h-[100px] rounded-md mr-4"
              src="https://images.unsplash.com/photo-1526779259212-939e64788e3c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIzfHxmcmVlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
              alt=""
            />
            <div>
              <h1 class="font-semibold">
                <%= e.judul.substring(0, 60) %>
                <a
                  class="text-sky-600"
                  href="/post/<%= e.judul.split(' ').join('-') %>"
                  >...Selengkapnya</a
                >
              </h1>
              <p class="text-sm pt-2">Ditulis Oleh: <%= e.author.nama %></p>
              <p class="text-sm">Dibuat Pada waktu: <%= e.createdAt %></p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div> -->
